p {
    color: red;
    text-align: left;
  } 


  canvas-holder {
      background-color: #FFFFFF;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
  }
